// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');

$main: #676767;
$gray: #808080;
$border: rgb(234, 234, 234);



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

body, html {
  font-family: 'Dosis', sans-serif;
  color: $main;
}

a {
  color: #000000
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  font-family: 'Dosis', sans-serif;
  margin: 0 auto;
  max-width: 1024px;
}

.header {
  font-size: 1.1rem;
  padding: 16px 0;
  border-bottom: 1px solid $border;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  position: relative;

  &__name {
    font-weight: normal;
    margin-left: 64px;
  }

  &__bar {
    display: block;
    width: 42px;
    height: 42px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 10px;
    z-index: 2;
    transition: width 200ms ease-in;
  }

  input[type="checkbox"] {
    display: none;
  }
  @media only screen and (max-width: 740px) {
    input[type="checkbox"]:checked ~ nav .menu {
      width: 80%;
    }
  }
}

.menu {
  list-style: none;
  overflow: hidden;
  color: $gray;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  border: 1px solid $border;
  background-color: #ffffff;
  width: 0;
  height: 100%;
  transition: all 200ms ease-in;
  z-index: 500;
  box-shadow: 15px 0px 26px -6px rgba(0, 0, 0, 0.3);

  &__item {
    &--bar {
      padding: 16px;
      text-align: right;
    }
    a {
      display: block;
      padding: 16px;
      text-decoration: none;
      color: inherit;
      white-space: nowrap;
      &:hover{
        color: #000000;
      }
    }
  }
}

.avatar {
  img {
    max-width: 200px;
    border-radius: 50%;
    border: 1px solid $border
  }
}

.section {
  margin: 32px auto 0 auto;
  clear: both;
  width: 85%;
  position: relative;
  text-align: center;

  > * {
    text-align: left;
  }

  > h3, > h4 {
    position: relative;
    display: inline-block;
    color: #000000;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 32px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    padding-top: 16px;
    p {
      text-indent: 1.5rem; /* Отступ первой строки */
      text-align: justify; /* Выравнивание по ширине */
      margin-bottom: 1em;
    }
  }
}

.work {
  p {
    margin-bottom: 1em;

    strong {
      display: inline-block;
      text-transform: uppercase;
    }
    em {
      display: inline-block;
    }
    span {
      display: inline-block;
    }
  ;
  }
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;

  &__item {
    flex: 1 0 100%;
    position: relative;
    margin-bottom: 2em;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    filter: grayscale(90%);
    transition: all 0.5s ease;
    -webkit-font-smoothing: antialiased;

    div {
      min-height: 250px;
    }

    img {
      width: 100%;
      object-fit: contain;
      object-position: top;
    }

    p {
      margin-top: 8px;
    }

    &:hover {
      opacity: 1;
      filter: grayscale(0%);
    }
  }
}

.contact {
  p {
    text-align: justify;
  }
}

.footer {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-top: 32px;
  border-top: 1px solid $border;

  i {
    display: inline-block;
    color: $main;
  }

  a {
    display: inline-block
  }

  a:not(:first-child) {
    margin-left: 32px;
  }
}

.scrollToTop {
  padding: 8px;
  text-align: center;
  background: $border;
  color: $gray;
  text-decoration: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: none;
  z-index: 100;
  &:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 740px) {

  .container {
    padding: 0 32px;
  }

  .header {
    padding: 32px 0;
    justify-content: space-between;
    &__name {
      padding-left: 0;
    }
    &__bar {
      display: none;
    }
  }

  .menu {
    position: static;
    border: none;
    width: auto;
    height: auto;
    box-shadow: none;
    &__item {
      &--bar {
        display: none;
      }
      margin-left: 16px;
      display: inline-block;
    }
    a {
      padding: 0;
    }
  }

  .avatar {
    align-self: flex-start;
    img {
      max-width: 200px;
      border-radius: 50%;
      border: 1px solid $border
    }
  }

  .section {
    padding: 0 64px;
    width: auto;
  }

  .portfolio {
    &__item{
      padding: 0 16px;
      flex: 1 0 33%;
      max-width: 33%;
    }
  }

  .about {
    flex-direction: row;
    &__text {
      padding-top: 0;
      padding-left: 32px;
    }
  }

  .footer {
    text-align: right;
    padding-right: 64px;
    a:not(:first-child) {
      margin-left: 32px;
    }
  }
}

.draw {
  position: relative;
  opacity: 0;
  z-index: 1;

  &.draw-ready {
    opacity: 1;
  }
  &.show {
    opacity: 1;

    svg {
      animation: hidesvg  1s forwards linear;

      @keyframes hidesvg {
        from {
          opacity: 1;
        }
        80% {
          opacity: 0;
          width: 100%;
          height: 100%;
        }
        to {
          opacity: 0;
          width: 0;
          height: 0;
          display: none;
          z-index: 0;
        }
      }
    }
  }
}

.d1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  fill: #fff;
  width: 100%;
  height: 100%;

  path {
    stroke: $gray;
    vector-effect: non-scaling-stroke;
    stroke-width: 3;
    stroke-linecap: round;
  }
}

path.stroke-medium {
  stroke-width: 2;
}

path.stroke-thin {
  stroke-width: 1;
}
